# Enable Rewrite Engine
RewriteEngine On

Redirect 301 /blog/1st-grade-math-games-to-play-while-dining-out	/1st-grade-math-games-to-play-while-dining-out/
Redirect 301 /blog/28-keywords-to-conquer-2nd-grade-math-word-problems	/28-keywords-to-conquer-2nd-grade-math-word-problems/
Redirect 301 /blog/2nd-grade-common-core-math-get-comfortable-with-math-vocabulary	/2nd-grade-common-core-math-get-comfortable-with-math-vocabulary/


# BEGIN WordPress


# END WordPress